@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="jumbotron">
    <h1 class="display-4">Página de Aroa</h1>
    <p class="lead">Esto é para facer test</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

@code {


    public AuthenticationState state;

    public string User { get; set; }
    public string Password { get; set; }

    private async Task Login()
    {
        //state = await AuthenticationStateProvider.LoginAsync(User, Password);
        //state.User = new System.Security.Claims.ClaimsPrincipal()
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}