@page "/Temas"
@attribute [Authorize]

@inject XpoService<Tema> TemaService


<h3>Temas</h3>

<DxDataGrid DataAsync="token => TemaService.Get(token)"
            RowInsertingAsync="x => TemaService.Add(x)"            
            RowUpdatingAsync="(x,y)=> TemaService.Update(x.Oid,y)"
            RowRemovingAsync="x => TemaService.Delete(x.Oid)"
            >
    <DxDataGridCommandColumn Width="100px"/>
    <DxDataGridColumn Field="Nombre" />
    <DxDataGridColumn Field="Explicacion" />
    <DxDataGridComboBoxColumn Field="Padre.Oid" Caption="Padre" DataAsync="token => TemaService.Get(token)" TextFieldName="Nombre" ValueFieldName="Oid" />
</DxDataGrid>

