@page "/loginControl"
@using System.Web;
@inject AuthenticationStateProvider AuthenticationStateProvider
<AuthorizeView>
    <Authorized>
        <div class="d-flex align-content-between">
            <b class="p-2">Hola, @context.User.Identity.Name!</b>
            <DxButton Text="Salir" Click="x => InvokeAsync(Logout)" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex align-content-between">
                <input style="width:250px" class="form-control mr-2" type="text" placeholder="Usuario" @bind="@Username" />
                <input style="width:250px" class="form-control mr-2" type="password" placeholder="Contraseña" @bind="@Password" />
            <DxButton Text="Login" Click="x => InvokeAsync(Login)" />
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
    AutenticationService AutenticationService => AuthenticationStateProvider as AutenticationService;

    string Username = "";
    string Password = "";
    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

    private async Task Login()
    {
        await AutenticationService.Autenticate(Username, Password);
        Username = "";
        Password = "";
    }


    private async Task Logout()
    {
        await AutenticationService.Exit();
    }

}