@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>


<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"/>

<div class="main">
    <div class="top-row px-4">
        <LoginControl />
    </div>
    <div class="content px-4">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <h1 class="display-4">Página de Aroa</h1>
                <p class="lead">Esto é para facer test</p>
                <hr class="my-4">
                <p>Inicia sesión para comenzar.</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
