<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Opo Test</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <DxTreeView AllowSelectNodes="true" CssClass="py-3">
        <Nodes>
            <DxTreeViewNode Text="Home" IconCssClass="fas fa-2x fa-home" NavigateUrl="" />
            <DxTreeViewNode Text="Examenes" IconCssClass="fas fa-2x fa-list-ol" NavigateUrl="Examenes" />
            <DxTreeViewNode Text="Preguntas" IconCssClass="fas fa-2x fa-question" NavigateUrl="Preguntas" />
            <DxTreeViewNode Text="Temas" IconCssClass="fas fa-2x fa-tags" NavigateUrl="Temas" />
        </Nodes>
    </DxTreeView>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
